<h2><%= t('edit_link') %></h2>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= f.input :name, :autofocus => true %>
  <%= f.input :city, :required => true %>
  <%= f.input :email, :required => true %>
  <%= f.input :password, :autocomplete => "off", :hint => t('your_password_may_not_change'), :required => false %>
  <%= f.input :password_confirmation, :required => false %>
  <%= f.input :current_password, :required => true %>
  <%= f.button :submit, t('update_link'), :class => 'btn-primary' %>
<% end %>
<h3><%= t('cancel_link') %></h3>
<p><%= t('unhappy_title') %>
   <%= link_to t('cancel_link'), registration_path(resource_name), :data => { :confirm => "Вы уверены, что хотите удалить?" }, :method => :delete %>.</p>
<%= link_to t('back_link'), :back %>