<% if current_user.has_any_role?(:admin,:internal_video,:public_video) %>
   <div class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="#"><%= t('video_title_transmission_link') %></a>
			<ul class="nav"> 
				<%if !current_user.has_any_role?(:public_video) %>
			      <li>
			        <%= link_to t('internal_transmission_link'), transmissions_stream_internal_path %>  
			      </li>
			    <% end %>
			    <li class="divider-vertical"></li>
			    <li>
			    <%= link_to t('test_video_transmission_link'), transmissions_test_video_path %>  
			    </li>		  
			</ul>
	  </div>
	</div>
<% end %>

<% if current_user.has_any_role?(:admin,:audio) %>
   <div class="navbar">
    	<div class="navbar-inner">
			<a class="brand" href="#"><%= t('audio_title_transmission_link') %></a>
			<ul class="nav"> 
				<li>
			        <%= link_to t('audio_transmission_link'), transmissions_audio_path %>  
			     </li>
			    <li class="divider-vertical"></li>
			    <li>
			    <%= link_to t('test_audio_transmission_link'), transmissions_test_audio_path %>  
			    </li>		  
			</ul>
	  </div>
	</div>
<% end %>