<div align=center>

<object width="320" height="200"> 
<param name="movie" value="http://fpdownload.adobe.com/strobe/FlashMediaPlayback_101.swf"></param>
<param name="flashvars" value="src=http://ltu.no-ip.info:8082/live/audio_hall/manifest.f4m?session=<%= @session_token %>"></param>
<param name="allowFullScreen" value="true"></param>
<param name="allowscriptaccess" value="always"></param>
<embed src="http://fpdownload.adobe.com/strobe/FlashMediaPlayback_101.swf" type="application/x-shockwave-flash" allowscriptaccess="always" 
allowfullscreen="true" width="320" height="320" 
flashvars="src=http://ltu.no-ip.info:8082/live/audio_hall/manifest.f4m?session=<%= @session_token %>"></embed>
</object>
</div>

</br></br></br>

<%= render 'transmissions/navigation' %>

