<div align=center>

<script type="text/javascript">
            
            // Collect query parameters in an object that we can
            // forward to SWFObject:
            
            var pqs = new ParsedQueryString();
            var parameterNames = pqs.params(false);
            var parameters = {
                src: "http://ltu.no-ip.info:8080/lighthouse_hall/manifest.f4m?session=<%= @session_token %>",
                autoPlay: "false",
                verbose: true,
                controlBarAutoHide: "false",
                controlBarPosition: "bottom"
            };
            
            for (var i = 0; i < parameterNames.length; i++) {
                var parameterName = parameterNames[i];
                parameters[parameterName] = pqs.param(parameterName) ||
                parameters[parameterName];
            }
            
               var wmodeValue = "direct";
            var wmodeOptions = ["direct", "opaque", "transparent", "window"];
            if (parameters.hasOwnProperty("wmode"))
            {
                if (wmodeOptions.indexOf(parameters.wmode) >= 0)
            	{
            		wmodeValue = parameters.wmode;
            	}	            	
            	delete parameters.wmode;
            }
            
            // Embed the player SWF:	            
            swfobject.embedSWF(
				"/flash/StrobeMediaPlayback.swf"
				, "StrobeMediaPlayback"
				, 500
				, 374
				, "10.1.0"
				, "/flash/expressInstall.swf"
				, parameters
				, {
	                allowFullScreen: "true",
	                wmode: wmodeValue
	            }
				, {
	                name: "StrobeMediaPlayback"
	            }
			);
            
        </script>

                    <div id="StrobeMediaPlayback">
                        <p>
                            Alternative content
                        </p>
                    </div>

</div>

</br></br></br>

<%= render 'transmissions/navigation' %>

