<%= javascript_include_tag "application"  %>

<div align=center>


<object width="500" height="384"> 
<param name="movie" value="/flash/StrobeMediaPlayback.swf"></param>
<param name="flashvars" value="src=http://ltu.no-ip.info:8082/test/music.mp3/manifest.f4m?session=<%= @session_token %>"></param>
<param name="allowFullScreen" value="true"></param>
<param name="allowscriptaccess" value="always"></param>
<embed src="/flash/StrobeMediaPlayback.swf" type="application/x-shockwave-flash" allowscriptaccess="always" 
allowfullscreen="true" width="384" height="376" 
flashvars="src=http://ltu.no-ip.info:8082/test/music.mp3/manifest.f4m?session=<%= @session_token %>"></embed>
</object>

</br></br>

<video 
    src="/videos/test/music.mp3" 
    height="220" 
    id="container" 
    poster="/videos/test/music.mp3"
    width="500">
</video>

<script type="text/javascript">
    jwplayer("container").setup({
        flashplayer: "/flash/player.swf"
    });
</script>

</div>

</br></br></br>

<%= render 'transmissions/navigation' %>

