<h3><%= t :manage_users_title %></h3>
<div class="span8">
<table class="table table-condensed">
	  <thead>
      <tr>
          <th><%= t('user_field') %></th>
          <th><%= t('email_field') %></th>
          <th><%= t('city_field') %></th>
          <th><%= t('registered_field') %></th>
          <th><%= t('role_field') %></th>
          <th></th>
          <th></th>                                      
      </tr>
  </thead>   
  <tbody>
  <% @users.each do |user| %>
    <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= user.email %></td>
        <td><%= user.city %></td>
        <td><%= user.created_at.to_date %></td>
        <td><%= user.roles.first.name.titleize unless user.roles.first.nil? %></td>
        <td>
          <a data-toggle="modal" href="#role-options-<%= user.id %>" class="btn btn-mini" type="button"><%= t('change_role_link') %></a>
          <%= render user %>
        </td>
        <td><%= link_to(t('delete_user_link'), user_path(user), :data => { :confirm => "Вы уверены?" }, :method => :delete, :class => 'btn btn-mini') unless user == current_user %></td>                                       
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to t(:roles_link), roles_path %>
</div>