<% if user_signed_in? %>
	<% if current_user.has_any_role?(:admin,:internal_video,:public_video) %>
	<%= render 'transmissions/navigation' %>
	</div>
	<% else %>
	  <h4><%= t('access_pending') %></h4> 
	<% end %>
<% end %>

<p class="pull-right"><%= t('current_time') + ": " + l(Time.now) %></p>
