<%= simple_form_for(@record) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user %>
    <%= f.input :name %>
    <%= f.input :ip %>
    <%= f.input :request_type %>
    <%= f.input :refferer %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
