<h1>Listing records</h1>

<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Ip</th>
    <th>Request type</th>
    <th>Refferer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @records.each do |record| %>
  <tr>
    <td><%= record.user %></td>
    <td><%= record.name %></td>
    <td><%= record.ip %></td>
    <td><%= record.request_type %></td>
    <td><%= record.refferer %></td>
    <td><%= link_to 'Show', record %></td>
    <td><%= link_to 'Edit', edit_record_path(record) %></td>
    <td><%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Record', new_record_path %>
