<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @record.user %>
</p>

<p>
  <b>Name:</b>
  <%= @record.name %>
</p>

<p>
  <b>Ip:</b>
  <%= @record.ip %>
</p>

<p>
  <b>Request type:</b>
  <%= @record.request_type %>
</p>

<p>
  <b>Refferer:</b>
  <%= @record.refferer %>
</p>


<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
