<h3>Брахма Кумарис Всемирный Духовный Университет</h3>
<p>Мы обучаем медитации, которая поможет человеку понять и применить в жизни свои сильные стороны.</p>
<p>Мы, всемирная семья, объединяющая представителей самых разных социальных слоёв. Мы привержены идеалам духовного роста и самосовершенствования. Сознавая, какой вызов бросают сегодня стремительные перемены на глобальном уровне, мы стремимся внести свой вклад в обеспечение благоденствия единой семьи человечества.</p>