<h3><%= t :season_dates_title %></h3>
<table class="table table-hover">
<tr class="warning"><th>Дата</th><th>День недели</th></tr>
<tr class="error"><td><b>18 октября</b></td><td>чт</td></tr>
<tr class="success"><td><b>2 ноября</b></td><td>пт</td></tr>
<tr class="error"><td><b>30 ноября</b></td><td>пт</td></tr>
<tr class="success"><td><b>15 декабря</b></td><td>сб</td></tr>
<tr class="error"><td><b>31 декабря</b></td><td>пн</td></tr>
<tr class="success"><td><b>18 января</b></td><td>пт</td></tr>
<tr class="error"><td><b> 2 февраля</b></td><td>сб</td></tr>
<tr class="success"><td><b>20 февраля</b></td><td>ср</td></tr>
<tr class="error"><td><b> 9 марта</b></td><td>сб</td></tr>
<tr class="success"><td><b>22 марта</b></td><td>пт</td></tr>
<tr class="error"><td><b> 5 апреля</b></td><td>пт</td></tr>
</table>