<h1><%= t :role_edit_link %></h1>

<%= simple_form_for(@roles, :html => { :class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= f.input :name, :label => false %>
  <%= f.button :submit, t('update_link'), :class => 'btn-primary' %>
<% end %>

<%= link_to t(:uni_posessors_link), @roles %> |
<%= link_to t(:back_link), roles_path %>
