<h1><%= t :roles_title %></h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @roles.each do |role| %>
  <tr>
    <td><%= role.name %></td>
    <td><%= link_to t(:uni_posessors_link), role, :class => 'btn btn-mini' %></td>
    <td><%= link_to t(:uni_edit_link), edit_role_path(role), :class => 'btn btn-mini' %></td>
    <td><%= link_to t(:uni_delete_link), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:role_new_title), new_role_path %>
