?session=<%= @session %>

<video 
    src="/videos/test/video.mp4" 
    height="384" 
    id="container" 
    poster="/videos/test/video.jpg"
    width="500">
</video>

<script type="text/javascript">
    jwplayer("container").setup({
        flashplayer: "/assets/player.swf"
    });
</script>

<div id="container"><%= t :loading_video_notice %></div>

<script type="text/javascript">
    jwplayer("container").setup({
        height: 384,
        width: 500,
        image: "/videos/test/video.jpg",
        modes: [
            { type: "flash", 
              src: "/flash/player.swf", 
              config: {
                file: "video.mp4",
                streamer: "rtmp://ltu.no-ip.info:1935/test/video.mp4",
                provider: "rtmp"
              }
            },
            { type: "html5",
              config: {
                file: "http://ltu.no-ip.info:8082/test/video.mp4/manifest.f4m"
              }
            },
            { type: "download" }
        ]

    });
</script>

<div align=center>

<object width="500" height="376"> 
<param name="movie" value="http://fpdownload.adobe.com/strobe/FlashMediaPlayback_101.swf"></param>
<param name="flashvars" value="src=http://ltu.no-ip.info:8082/test/video.mp4/manifest.f4m&poster=/videos/test/video.jpg"></param>
<param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param>
<embed src="http://fpdownload.adobe.com/strobe/FlashMediaPlayback_101.swf" 
type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="500" height="376" 
flashvars="src=http://ltu.no-ip.info:8082/test/video.mp4/manifest.f4m&poster=/videos/test/video.jpg"></embed>
</object>

</div>