<%= link_to t('welcome_world'), root_path, :class => 'brand' %>
<ul class="nav">

  <% if user_signed_in? %>
    <li>
    <%= link_to t('toc_link'), root_path %>        
    </li>
    <li>
    <%= link_to t('logout_link'), destroy_user_session_path, :method=>'delete' %>        
    </li>
  <% else %>
    <li>
    <%= link_to t('login_link'), new_user_session_path %>  
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to t('edit_link'), edit_user_registration_path %>
    </li>
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to t('admin_link'), users_path %>
      </li>
    <% end %>
  <% else %>
    <li>
    <%= link_to t('register_link'), new_user_registration_path %>
    </li>
     <li>
    <%= link_to t('calendar_link'), calendar_index_path %>
    </li>
     <li>
     <%= link_to t('season_dates_link'), page_path("babas-dates") %>
     </li>
  <% end %>
  
  <li>
  <%= link_to t('about_link'), page_path("about") %>
  </li>

 <i class="icon-globe"></i>
  <% if I18n.locale == :ru %>
     <%= link_to "to English", :locale=>:en %>
  <% else %>
     <%= link_to "На русском", :locale=>:ru %>
  <%end%>

</ul>
